extends layout

block content
  .container
    .row.justify-content-between
      h3= "My Rooms"
      div
        a.btn.btn-primary.very-rounded(href="/room/new")= "New Room"
    br
    .card-columns